{% if a2_dirindex is defined %}
DirectoryIndex {{ a2_dirindex }}

{% endif %}
<VirtualHost *:{{ a2_port }}>

{% if a2_servername is defined %}
    ServerName {{ a2_servername }}
{% endif %}
{% if a2_serveralias is defined %}
    ServerAlias {{ a2_serveralias }}
{% endif %}
    ServerAdmin {{ a2_serveradmin }}

    DocumentRoot {{ a2_documentroot }}

    {% for rule in a2_rules %}
    {{ rule }}
    {% endfor %}

    {% for alias in a2_aliases %}
    Alias {{ alias.name }} {{ alias.path }}
    {% endfor%}

    {% for dir in a2_directories %}
    <Directory {{ dir.name }}>
      {% for opt in dir.options %}
      {{ opt }}
      {% endfor %}
    </Directory>
    {% endfor %}

    {% for loc in a2_locationmatches %}
    <LocationMatch "{{ loc.name }}">
       {% for opt in loc.options %}
       {{ opt }}
       {% endfor %}
    </LocationMatch>
    {% endfor %}

{% if a2_errorlog is defined %}
    ErrorLog {{ a2_errorlog }}
{% endif %}
{% if a2_customlog is defined %}
    CustomLog {{ a2_customlog }}
{% endif %}

</VirtualHost>
