
*********************************************************
           HENRICO COUNTY DIVISION OF FIRE
*********************************************************
      ,==o
     //
    //        xxxxxxxxxxxxxxxxxxxxxx
   //           /_/  | x__[__]____       ______
  //_.-._      | |   |[___________]     /    + |
 //%.o-o-'     '-'(_)=    (_(_)(_)     '-o---o-'

 ********************************************************
 * This server is configured using Ansible.
 * Please make all major system level configuration
 * changes via our Ansible Playbooks
 *
 * Deployed Using:
 *    * Playbook: {{ playbook_name }}
 *    * Last Run: {{ template_run_date }}
 *
 * See server admins for information and questions.
 ********************************************************
 
