"Mess with The Bull you get the horns!"


           ,/         \,
          ((__,-"""-,__))
           `--)~   ~(--`
          .-'(       )`-,
          `~~`d\   /b`~~`
              |     |
         swt  (6___6)
               `---`

*****************************************
*
* This server provisioned with ansible.
*
* Deployed Using:
*    * Playbook: {{ playbook_name }}
*    * Last Run: {{ template_run_date }}
*
* See the server admin for info
*****************************************
