<VirtualHost *:80>
    ServerAdmin webmaster@localhost

    DocumentRoot {{ wp_dir }}

    <Directory {{ wp_dir }}>
        Options FollowSymLinks MultiViews Includes ExecCGI
    		AllowOverride none
    		Order allow,deny
    		allow from all
    		Require all granted
    </Directory>

    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined

</VirtualHost>
